@tailwind base;
@tailwind components;
@tailwind utilities;

.instagram {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 220px;
  line-height: 250px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s forwards;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla-thumbs {
  display: flex;
  justify-content: center;
}

.embla__slide img {
  object-fit: cover;
  -moz-object-fit: cover;
  border-radius: 4px;
}

.embla__slide {
  flex: 0 0 auto;
}

@keyframes pulse-left {
  0%,
  100% {
    transform: scale(1) translateX(0);
  }
  50% {
    transform: scale(1.05) translateX(-5px);
  }
}

@keyframes pulse-right {
  0%,
  100% {
    transform: scale(1) translateX(0);
  }
  50% {
    transform: scale(1.05) translateX(5px);
  }
}

.pulse-left {
  animation: pulse-left 1.5s infinite;
}

.pulse-right {
  animation: pulse-right 1.5s infinite;
}
